h1{
color:antiquewhite
}
img{
    background-color: red;
}
.bacon{
    background-color: green;
}
.broccoli{
    background-color: red;

}
.circular{
    border-radius: 100%;
}
#heading{
    color: aqua;
}