hr {
    border-style: none;
    border-top-style: dotted;
    border-color: green;
    border-width: 10px;
    width: 2%;
   
  }
  img {
  height: 200px
 }
 h2{
    color: rgb(34, 224, 145);
 }
 h1{
   color: rgb(160, 48, 220);
   font-style: italic;
}
